ul {
    list-style: none;
}

li {
    display: inline;
}

form {
    padding-top: 40px;
    border-radius: 5px;
}

.labelbox {
    margin-left: -40vw;
}

.textbox {
    padding: 3px;
    border-style: none;
    border-radius: 10px;
    width: 60vw;
    height: 4vh;
    padding-left: 16px;
}

.bigbox {
    height: 20vh;
    padding-top: 12px;
    border-radius: 10px;
    resize: none;
}

.actions {
    display: inline;
    marign-left: -40px;
}

.button {
    height: 48px;
    border: none;
    -webkit-backdrop-filter: blur(45px);
    box-shadow: 0 0 15px -3px rgba(64, 64, 64, 0.75);
    background-color: black;
    color: white;
    font-family: var(--main-font);
    border-radius: 7px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.15s;
}

.button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}