:root {
    --header-link-color: black;
    --gradient: -webkit-repeating-linear-gradient(360deg, red, green, blue) 0 0 / 100% 100%;;
}

body {
    margin: 0;
    background-attachment: fixed;
    font-family: 'Wix Madefor Display', sans-serif;
    overflow: hidden;
}

.slider {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    left: -100vw;
    transition: .2s;
    z-index: 1;
    top: 0;
}


.iframe {
    width: 100vw;
    height: 100vh;
}

.sliderbox {
    position: fixed;
    margin-top: 45vh;
    width: 100vw;
}

.slidertext {
    color: white;
    text-align: center;
}

li {
    list-style: none;
    text-decoration: none;
    color: white;
    filter: blur(0px);
    display: inline;
}

.lia {
    text-decoration: none;
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: 0.5s;
}

.lia:hover {
    transform: scale(1.1);
    color: blue;
    transition: 0.2s;
}

ul {
    text-align: center;
    overflow: hidden;
}

.activebutton {
    text-decoration: underline;
}

.headerdiv {
    padding: 3px;
    box-shadow: 0 0 1rem 0 rgba(239, 218, 218, 0.443);
    border-radius: 5px;
    background-color: rgba(239, 218, 218, 0.443);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: fixed;
    width: 100vw;
}

.blurstaller {
    pointer-events: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    height: 100vh;
    width: 100vw;
    z-index: 9;
    position: fixed;
    top: 52px;
    left: 0;
    overflow: hidden;
    transition: 1s;
}

.homeslide {
    text-align: center;
    color: black;
    font-family: 'Prompt', sans-serif;
}

.indeterminate-progress-bar {
    height: 0.2rem;
    position: fixed;
    z-index: 99;
    width: 100vw;
    display: none;
}

.indeterminate-progress-bar__progress {
    background-color: #3b82f6;
    border-radius: 9999px;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminate-progress-bar;
}

@keyframes indeterminate-progress-bar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}

.radio {
    position: fixed;
    width: 0vw;
    max-width: 50vw !important;
    bottom: 0px;
    transition:  .3s;
}

.radioon {
    width: 50vw;
}

.footer {
    position: fixed;
    bottom: 5;
    right: 0;
    left: 0;
}